/*============*=============
    commonCss starts here
==============*=============*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.body {
    overflow-x: hidden;
}


/*============*=============*/

/* ==========sticky header========== */
.sticky_header{
    animation: smooth 1s;
    background: rgba(0, 0, 0, 0.75) !important;
    backdrop-filter: blur(50px);
    box-shadow: 0 1.5px 0px #944bff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
@keyframes smooth{
    from{
        top: -100px;
    }
    to{
        top: 0;
    }
}


/* ==========GLOW EFFECTS========== */
.glowMove1{
    height: 2px;
    background: #000;
}
.glowMove2{
    height: 1px;
    background: #290a59;
    position: relative;
    .glowMoveMain{
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, transparent 0%, #3a107b 12%, #6116d2 50%, #3a107b 88%, transparent 100%);
        height: 100%;
        width: 100px;
    }
    .leftToRightAnime{
        animation-name: leftToRightAni;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        transition: all;
    }
    @keyframes leftToRightAni {
        0%{
            left: 0;
        }
        50%{
            left: 100%;
            transform: translateX(-100%);
        }
        100%{
            left: 0;
        }
    }
}