/*============*=============
    commonCss starts here
==============*=============*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.body {
    overflow-x: hidden;
}


/*============*=============*/

.invisible{
    display: none;
}

.payment_methods{
    gap: 20px;
    .payment_method{
        width: 20%;
    }
}