// bg colors ===

$primaryBg: #150035;
$secondaryBg: #0b001b;

// fontFamily

$ffNunito: 'Nunito', sans-serif;
$ffAnton: 'Anton', sans-serif;

// fontWeight

$thin: 100;
$xlight: 200;
$reguler: 400;
$medium: 500;
$smbold: 600;
$bold: 700;
$xbold: 800;
$black: 900;

// colors
$purple1: #944bff;
$pink1: #ff39dc;