// navbar
#navbar{
    .navbar{
        padding: 0;
        background: $primaryBg;
        .container{
            .navbar-brand{
                margin: -8px 0 40px 0;
                padding: 0;
            }
            .navbar-toggler{
                border: $purple1 1px solid !important;
                transition: 0.3s;
                &:focus{
                    border: $pink1 1px solid !important;
                    color: transparent !important;
                    box-shadow: transparent !important;
                    i{
                        color: $pink1;
                    }

                }
                i{
                    color: $purple1;
                    transition: 0.3s;

                }
            }
            .navbar-collapse{
                @include sm {
                    margin-bottom: 50px;
                }
                @include md {
                    margin-bottom: 50px;
                }
                @include lg {
                    margin-bottom: 50px;
                }
                .navItems{
                    gap: 50px;
                    @include sm {
                        gap: 25px;
                        align-items: center;
                    }
                    @include md {
                        gap: 25px;
                        align-items: center;
                    }
                    @include lg {
                        gap: 25px;
                        align-items: center;
                    }
                    @include xl {
                        gap: 30px;
                    }
                    .nav-item{
                        a{
                            @include fontCommon (20px, $ffNunito, $reguler, $purple1);
                            padding: 0;
                            transition: 0.3s;
                            &:hover{
                                color: $pink1;
                            }
                        }
                    }
                }
                .navButtons{
                    gap: 10px;
                    @include sm {
                        gap: 25px;
                        margin-top: 25px;
                        justify-content: center;
                        flex-direction: row;
                    }
                    @include md {
                        gap: 25px;
                        margin-top: 25px;
                        justify-content: center;
                        flex-direction: row;
                    }
                    @include lg {
                        gap: 25px;
                        margin-top: 25px;
                        justify-content: center;
                        flex-direction: row;
                    }
                    a{
                        button{
                            @include commonButton;
                            @include fontCommon(20px, $ffAnton, $reguler, #fff);
                        }
                    }
                }
            }
        }
    }
}