// freeSpin part
#freeSpin{
    background: $primaryBg;
    color: white;
    padding-top: 175px;
    padding-bottom: 25px;
    @include sm{
        padding-top: 50px;
    }
    @include md{
        padding-top: 50px;
    }
    @include lg{
        padding-top: 50px;
    }
    .container{
        .freeSpinContents{
            display: flex;
            align-items: center;
            .freeSpinPhoto{
                margin-top: -75px;
                @include sm {
                    margin-top: 0;
                }
                @include md {
                    margin-top: 0;
                }
                @include lg {
                    margin-top: 0;
                }
            }
            .freeSpinInfo{
                margin-top: -100px;
                @include sm {
                    margin-top: 0;
                }
                @include md {
                    margin-top: 0;
                }
                @include lg {
                    margin-top: 0;
                }
                h3{
                    @include gradientText;
                    -webkit-text-stroke-color: #4d0148;
                    -webkit-text-stroke-width: 0.5px !important;
                    @include fontCommon (50px, $ffAnton, $reguler, transparent);
                }
                p{
                    padding: 60px 0px;
                    @include fontCommon (17.5px, $ffNunito, $reguler, #fff);
                    line-height: 26px;
                    @include sm {
                        padding: 30px 0px;
                        font-size: 16px;
                    }
                    span{
                        display: block;
                        &:last-child{
                            margin-top: 17.5px;
                        }
                    }
                }
                a{
                    button{
                        @include commonButton;
                        @include fontCommon(24px, $ffAnton, $reguler, #fff);
                    }
                }
            }
        }
    }
}