// FAQ part
#faqPart{
    background: $primaryBg;
    .container{
        padding: 100px 0px;
        .FAQcommonCol{
            @include sm {
                text-align: center;
            }
            .frequentlySubHead{
                @include gradientText;
                -webkit-text-stroke-color: #4d0148;
                -webkit-text-stroke-width: 0.5px !important;
                @include fontCommon (40px, $ffAnton, $reguler, transparent);
                margin-bottom: 30px;
            }
        }
        .frequentlyCol{
            .accordion{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .acoordion-item{
                    background: linear-gradient(#fcb100 0%, #fcb100 48.75%, #db7209 50.5%, #feb510 100%);
                    padding: 1px;
                    .accordion-header{
                        .accordion-button{
                            background: $primaryBg;
                            padding: 21px 50px 21px 30px;
                            color: #fff;
                            @include fontCommon (20px, $ffNunito, $reguler, #fff);
                            &::after{
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23fff' d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/%3E%3C/svg%3E");
                                background-size: 15px;
                                background-position: center center;
                            }
                            &:focus{
                                box-shadow: none;
                            }
                        }
                    }
                    .accordion-collapse{
                        .accordion-body{
                            background: $primaryBg;
                            padding: 30px;
                            padding-top: 10px;
                            p{
                                @include fontCommon (16px, $ffNunito, $reguler, #fff);
                                line-height: 26px;
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
        .tournamentCol{
            .winCountdown{
                margin: 30px 0px;
                .cdSubHead{
                    h3{
                        @include fontCommon (20px, $ffNunito, $reguler, #fff)
                    }
                }
                .mainHMS{
                    display: flex;
                    gap: 30px;
                    .bgCDhms{
                        width: 70px;
                        background-image: linear-gradient(#fcb100 0%, #fcb100 48.75%, #db7209 50.5%, #feb510 100%);
                        padding: 1px;
                        border-radius: 5px;
                        .winCountdownHMS{
                            background: $primaryBg;
                            border-radius: 5px;
                            padding: 10px 0px;
                            p{ 
                                background-image: linear-gradient(#fcb100 0%, #fcb100 48.75%, #db7209 50.5%, #feb510 100%);
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                @include fontCommon (20px, $ffNunito, $smbold, transparent);
                                line-height: 26px;
                                span{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .winners{
                height: 312px;
                overflow-y: auto;
                color: white;
                .winner_list{
                    margin: 20px 0px;
                    @include fontCommon (16px, $ffNunito, $reguler, #fff);
                    .winner_name{
                        p{
                            text-transform: capitalize;
                            text-align: left;
                        }
                    }
                    .flags{
                        width: 20px;
                    }
                    .win_money{
                        p{
                            text-align: right;
                            &::before{
                                content: "$";
                            }
                        }
                    }
                }
            }
        }
    }
}
