// copyright part
#copyrightPart{
    background: $secondaryBg;
    padding: 20px 0px;
    .container{
        .row{
            p{
                @include fontCommon (16px, $ffNunito, $reguler, #fff);
                animation-name: colorChange;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
                transition: all;
            }
            @keyframes colorChange {
                0%{
                    color: #fff;
                }
                50%{
                    color: $pink1;
                }
                75%{
                    color: $purple1;
                }
                100%{
                    color: #fff;
                }
            }
        }
    }
}