// regestrationStep part
#regestrationStep{
    background: linear-gradient($primaryBg 50%, $secondaryBg 50%);
    color: white;
    .container{
        .row{
            .regeStepItem{
                padding: 45px 0;
                background-image: linear-gradient(45deg, #9e4efc -600%, #570dc8 100%);
                text-align: center;
                box-shadow: inset 100px 0 50px -100px rgba(32, 7, 69, 0.75),
                            0px 6px #3a0090;
                &:nth-child(1){
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    box-shadow: 0px 6px #3a0090;
                }
                &:nth-child(3){
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                @include sm {
                    &:nth-child(1){
                        border-radius: 0;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        box-shadow: inset 0px -100px 50px -100px rgba(32, 7, 69, 0.75),
                                    0px 6px #3a0090;
                    }
                    &:nth-child(2){
                        box-shadow: inset 0px -100px 50px -100px rgba(32, 7, 69, 0.75),
                                    0px 6px #3a0090;
                    }
                    &:nth-child(3){
                        border-radius: 0;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        box-shadow: 0px 6px #3a0090;
                    }
                }
                @include md {
                    &:nth-child(1){
                        border-radius: 0;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        box-shadow: inset 0px -100px 50px -100px rgba(32, 7, 69, 0.75),
                                    0px 6px #3a0090;
                    }
                    &:nth-child(2){
                        box-shadow: inset 0px -100px 50px -100px rgba(32, 7, 69, 0.75),
                                    0px 6px #3a0090;
                    }
                    &:nth-child(3){
                        border-radius: 0;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        box-shadow: 0px 6px #3a0090;
                    }
                }
                .regeStepNumber{
                    @include gradientText;
                    letter-spacing: 2px;
                    -webkit-text-stroke-width: 0.5px !important;
                    filter: drop-shadow(0 3.5px rgba(17, 0, 16, 0.4));
                    @include fontCommon (50px, $ffAnton, $reguler, transparent);
                    @include lg {
                        font-size: 40px;
                    }
                }
                .regeStepHeadline{
                    padding-top: 20px;
                    @include fontCommon (32px, $ffAnton, $reguler, #fff);
                    text-shadow: 5px 5px #5813b8;
                    @include lg {
                        padding-top: 10px;
                        font-size: 25px;
                    }
                }
                .regeStepPara{
                    padding-top: 17.5px;
                    @include fontCommon (16px, $ffNunito, $reguler, #fff);
                    @include lg{
                        padding: 17.5px 30px 0px 30px;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}