// navbar
#navbar{
    .navbar{
        padding: 0;
        background: $primaryBg;
        .container{
            .navbar-brand{
                margin: -8px 0 40px 0;
                padding: 0;
            }
            .navbar-toggler{
                border: none;
                &:focus{
                    color: transparent !important;
                    box-shadow: none !important;
                }
                i{
                    color: #944bff;
                    transition: 0.3s;
                    &:hover{
                        color: $pink1;
                    }
                }
            }
            .navbar-collapse{
                .navItems{
                    gap: 50px;
                    .nav-item{
                        a{
                            @include fontCommon (20px, $ffNunito, $reguler, $purple1);
                            padding: 0;
                            transition: 0.3s;
                            &:hover{
                                color: $pink1;
                            }
                        }
                    }
                }
                .navButtons{
                    display: flex;
                    gap: 10px;
                    a{
                        button{
                            @include commonButton;
                            @include fontCommon(20px, $ffAnton, $reguler, #fff);
                        }
                    }
                }
            }
        }
    }
}

// heroPart
#heroSection{
    background: $primaryBg;
    padding: 175px 0 60px 0;
    .container{
        .row{
            .wheelImage{
                img{
                    margin-left: -200px;
                    height: 673px;
                }
            }
            .wheelResult{
                .wheelResultPara1{
                    @include fontCommon (20px, $ffNunito, $reguler, #fff);
                    margin: 0px 0px 10px 10px;
                }
                .wheelResultMain{
                    @include fontCommon (331px, $ffAnton, $reguler, transparent);
                    @include gradientText;
                    margin: -100px 0px;
                    letter-spacing: 2px;
                }
                .wheelResultPara2{
                    @include fontCommon (16px, $ffNunito, $reguler, #fff);
                    line-height: 26px;
                    padding: 0px 10px;
                    margin: 20px 0px;
                }
                .wheelResultButton{
                    button{
                        @include commonButton;
                        @include fontCommon(24px, $ffAnton, $reguler, #fff);
                    }
                }
            }
        }
    }
}

// regestrationStep part
#regestrationStep{
    background: linear-gradient($primaryBg 50%, $secondaryBg 50%);
    color: white;
    .container{
        .row{
            .regeStepItem{
                padding: 45px 0;
                background-image: linear-gradient(45deg, #9e4efc -600%, #570dc8 100%);
                text-align: center;
                box-shadow: inset 100px 0 50px -100px rgba(32, 7, 69, 0.75),
                            0px 6px #3a0090;
                &:first-child{
                    box-shadow: 0px 6px #3a0090;
                }
                .regeStepNumber{
                    @include gradientText;
                    letter-spacing: 2px;
                    -webkit-text-stroke-width: 0.5px !important;
                    filter: drop-shadow(0 3.5px rgba(17, 0, 16, 0.4));
                    @include fontCommon (50px, $ffAnton, $reguler, transparent);
                }
                .regeStepHeadline{
                    padding-top: 20px;
                    @include fontCommon (32px, $ffAnton, $reguler, #fff);
                    text-shadow: 5px 5px #5813b8;
                }
                .regeStepPara{
                    padding-top: 17.5px;
                    @include fontCommon (16px, $ffNunito, $reguler, #fff)
                }
            }
        }
    }
}

// relatedGames part
#relatedGames{
    background: $secondaryBg;
    color: white;
    .container{
        padding-top: 50px;
        padding-bottom: 100px;
        .relatedSubHeading{
            .relatedSubMainDiv{
                padding-bottom: 50px;
                h3{
                    @include gradientText;
                    -webkit-text-stroke-color: #4d0148;
                    -webkit-text-stroke-width: 0.5px !important;
                    @include fontCommon (50px, $ffAnton, $reguler, transparent);
                }
            }
        }
        .relatedItems{
            .rltItem{
                height: fit-content;
                position: relative;
                .relatedOverlay{
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    transform: translateY(-50%);
                    width: 50%;
                    height: 100%;
                    background: rgba(21, 0, 53, 0.85);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s;
                    .rltItemInfo{
                        color: white;
                        h4{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            @include fontCommon (24px, $ffAnton, $reguler, #fff)
                        }
                        a{
                            button{
                                position: absolute;
                                top: 75%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                @include commonButton;
                                @include fontCommon(24px, $ffAnton, $reguler, #fff);
                            }
                        }
                    }
                }
                &:hover {
                    .relatedOverlay {
                        opacity: 1;
                        visibility: visible;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

// freeSpin part
#freeSpin{
    background: $primaryBg;
    color: white;
    padding-top: 175px;
    padding-bottom: 25px;
    .container{
        .freeSpinContents{
            display: flex;
            align-items: center;
            .freeSpinPhoto{
                margin-top: -75px;
            }
            .freeSpinInfo{
                margin-top: -100px;
                h3{
                    @include gradientText;
                    -webkit-text-stroke-color: #4d0148;
                    -webkit-text-stroke-width: 0.5px !important;
                    @include fontCommon (50px, $ffAnton, $reguler, transparent);
                }
                p{
                    padding: 60px 0px;
                    span{
                        display: block;
                        @include fontCommon (17.5px, $ffNunito, $reguler, #fff);
                        line-height: 26px;
                        &:last-child{
                            padding-top: 17.5px;
                        }
                    }
                }
                a{
                    button{
                        @include commonButton;
                        @include fontCommon(24px, $ffAnton, $reguler, #fff);
                    }
                }
            }
        }
    }
}

// pricing part
#pricing{
    background-color: $secondaryBg;
    color: white;
    padding-bottom: 112px;
    .container{
        .pricingSubHeadRow{
            .pricingSubHead{
                h3{
                    padding: 90px 0px;
                    @include gradientText;
                    -webkit-text-stroke-color: #4d0148;
                    -webkit-text-stroke-width: 0.5px !important;
                    @include fontCommon (50px, $ffAnton, $reguler, transparent);
                }
            }
        }
        .pricingItemsRow{
            .pricingItemMainDiv{
                .hiddenFeatured{
                    width: 100%;
                    padding: 16px 0px;
                    background: linear-gradient(#ff39dc, #a60084);
                    box-shadow: 0px 5px #661355;
                    text-shadow: 3px 3px rgba(102, 19, 85, 0.75);
                    border: none;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    transition: 0.3s;
                    @include fontCommon(20px, $ffNunito, $smbold, #fff);
                }
                .pricingItemMain{
                    width: 100%;
                    position: relative;
                    background: linear-gradient(#9e4efc, #570dc8);
                    padding-top: 60px;
                    border-radius: 8px;
                    .priceItemAbovePart{
                        border-bottom: 1px solid rgba(11, 0, 27, 0.25);
                        h3{
                            @include fontCommon (32px, $ffAnton, $reguler, #fff);
                            text-shadow: 4px 5px #5813b8;
                        }
                        h4{
                            padding-top: 30px;
                            padding-bottom: 15px;
                            @include fontCommon (50px, $ffNunito, $bold, #fff);
                        }
                        p{
                            padding-bottom: 30px;
                            @include fontCommon (14px, $ffNunito, $reguler, #fff);
                        }
                    }
                    .priceItemBelowPart{
                        p{
                            padding-top: 30px;
                            padding-bottom: 30px;
                            span{
                                display: block;
                                @include fontCommon (16px, $ffNunito, $smbold, #fff);
                                line-height: 40px;
                            }
                        }
                    }
                    .priceItemBelowButton{
                        button{
                            @include commonButton;
                            @include fontCommon(24px, $ffAnton, $reguler, #fff);
                            position: absolute;
                            bottom: -25px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
                &::hover{

                }
            }

        }
    }
}

// FAQ part
#faqPart{
    background: $primaryBg;
    .container{
        padding: 100px 0px;
        .FAQcommonCol{
            .frequentlySubHead{
                @include gradientText;
                -webkit-text-stroke-color: #4d0148;
                -webkit-text-stroke-width: 0.5px !important;
                @include fontCommon (40px, $ffAnton, $reguler, transparent);
                margin-bottom: 30px;
            }
        }
        .frequentlyCol{
            .accordion{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .acoordion-item{
                    background: linear-gradient(#fcb100 0%, #fcb100 48.75%, #db7209 50.5%, #feb510 100%);
                    padding: 1px;
                    .accordion-header{
                        .accordion-button{
                            background: $primaryBg;
                            padding: 21px 50px 21px 30px;
                            color: #fff;
                            @include fontCommon (20px, $ffNunito, $reguler, #fff);
                            &::after{
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23fff' d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/%3E%3C/svg%3E");
                                background-size: 15px;
                                background-position: center center;
                            }
                            &:focus{
                                box-shadow: none;
                            }
                        }
                    }
                    .accordion-collapse{
                        .accordion-body{
                            background: $primaryBg;
                            padding: 30px;
                            padding-top: 10px;
                            p{
                                @include fontCommon (16px, $ffNunito, $reguler, #fff);
                                line-height: 26px;
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
        .tournamentCol{
            .winCountdown{
                margin: 30px 0px;
                .cdSubHead{
                    h3{
                        @include fontCommon (20px, $ffNunito, $reguler, #fff)
                    }
                }
                .mainHMS{
                    display: flex;
                    gap: 30px;
                    .bgCDhms{
                        width: 70px;
                        background-image: linear-gradient(#fcb100 0%, #fcb100 48.75%, #db7209 50.5%, #feb510 100%);
                        padding: 1px;
                        border-radius: 5px;
                        .winCountdownHMS{
                            background: $primaryBg;
                            border-radius: 5px;
                            padding: 10px 0px;
                            p{ 
                                background-image: linear-gradient(#fcb100 0%, #fcb100 48.75%, #db7209 50.5%, #feb510 100%);
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                                @include fontCommon (20px, $ffNunito, $smbold, transparent);
                                line-height: 26px;
                                span{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .winners{
                height: 312px;
                overflow-y: auto;
                color: white;
                .winner_list{
                    margin: 20px 0px;
                    @include fontCommon (16px, $ffNunito, $reguler, #fff);
                    .winner_name{
                        p{
                            text-transform: capitalize;
                        }
                    }
                    .flags{
                        width: 20px;
                    }
                    .win_money{
                        p{
                            &::before{
                                content: "$";
                            }
                        }
                    }
                }
            }
        }
    }
}

// subscribe Part
#subscribePart{
    padding: 30px 0px;
    background: $blueGradientBg;
    .container{
        .row{
            .subscribeCommonCol{
                h3{
                    @include fontCommon (32px, $ffAnton, $reguler, #fff);
                    text-shadow: 4px 5px #5813b8;
                }
            }
            .subscribeLeft_form{
                .subscribeForm{
                    margin-top: 20px;
                    form{
                        border: 1px solid #3a0090;
                        input{
                            border: none;
                            background: transparent;
                            width: 100%;
                            padding: 10px 15px;
                            @include fontCommon (14px, $ffNunito, $reguler, #d0b0ff);
                            &::placeholder{
                                @include fontCommon (14px, $ffNunito, $reguler, #3a0090);
                                opacity: 1;
                            }
                        }
                        .subscribeMailSentButton{
                            border: none;
                            border-left: 1px solid #3a0090;
                            background: transparent;
                            padding: 10px 20px;
                            i{
                                font-size: 16px;
                                color: #3a0090;
                            }
                        }
                    }
                }
            }
            .subscribeRight_payment{
                .payment_methods{
                    margin-top: 20px;
                    gap: 20px;
                    .payment_method{
                        width: 20%;
                        border-radius: 5px;
                        box-shadow: 5px 5px #5813b8;
                    }
                }
            }
        }
    }
}

// about Part
#aboutPart{
    background-color: $secondaryBg;
    padding: 60px;
    color: white;
    .container{
        .row{
            .commonAboutCol{
                h3{
                    @include fontCommon (32px, $ffAnton, $reguler, #fff);
                    margin-bottom: 30px;
                }
            }
            .aboutCol_about{
                .footerAboutPara{
                    @include fontCommon (16px, $ffNunito, $xlight, #fff);
                    line-height: 26px;
                    padding-right: 50px;
                    margin-bottom: 40px;
                }
                .socialLinks{
                    gap: 15px;
                    .socialLink{
                        @include commonButton;
                        text-shadow: 3px 3px #5813b8;
                        border-radius: 0;
                        width: 50px;
                        padding: 15px 0px;
                        text-align: center;
                        &:hover{
                            text-shadow: 3px 3px #a60084;
                        }
                        i{
                            font-size: 20px;
                        }
                    }
                }
            }
            .importantLinksCol_about{
                .childRowForLinks{
                    .childColForLinks{
                        p{
                            line-height: 40px;
                            a{
                                display: block;
                                @include fontCommon (16px, $ffNunito, $reguler, #fff);
                                transition: 0.3s;
                                &:hover{
                                    color: $pink1;
                                }
                            }
                        }
                    }
                }
            }
            .securityInfoCol_about{
                .securityItemsMaster{
                    gap: 30px;
                    .securityItemMain{
                        gap: 30px;
                        align-items: center;
                        img{
                            width: 70px;
                        }
                        a{
                            padding-right: 185px;
                            @include fontCommon (16px, $ffNunito, $reguler, #fff);
                            line-height: 16px;
                            transition: 0.3s;
                            &:hover{
                                color: $pink1;
                            }
                        }
                    }
                }
            }
        }
    }
}

// copyright part
#copyrightPart{
    background: $secondaryBg;
    padding: 20px 0px;
    .container{
        .row{
            p{
                @include fontCommon (16px, $ffNunito, $reguler, #fff);
                animation-name: colorChange;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
                transition: all;
            }
            @keyframes colorChange {
                0%{
                    color: #fff;
                }
                50%{
                    color: $pink1;
                }
                75%{
                    color: $purple1;
                }
                100%{
                    color: #fff;
                }
            }
        }
    }
}